<div class=question-container>
  <%= erb :'votes/_vote', :locals => { :voteable => question } %>
  <h3><a href="/questions/<%= question.id %>"><%= html_escaper(question.title) %></a></h3>
  <p>by <%= html_escaper(question.author.username) %></p>
</div>
