<form action="/questions" method="POST">
  <input type="text" name="question[title]" value=<%=  %>>
  <input type="text" name="question[body]" value=<%=  %>>
  <input type="submit" value="Post Question">
</form>
