<div id="question-container">
  <h3><%= html_escaper(@question.title) %></h3>
  <p><%= html_escaper(@question.body) %></p>
  <p>by <%= html_escaper(@question.author.username) %> [<%= html_escaper(@question.created_at) %>]</p>
</div>
