<div id='main-postbar'>
  <%= erb :'questions/_full_question' %>

  <% @question.comments.each do |comment| %>
    <%= erb :'comments/_comment', :locals => { :comment => comment } %>
  <% end %>

  <% @question.answers.each do |answer| %>
    <%= erb :'answers/_answer', :locals => { :answer => answer } %>
      <% answer.comments.each do |comment| %>
        <%= erb :'comments/_comment', :locals => { :comment => comment } %>
      <% end %>

  <% end %>
</div>
