<form class="comment_form" action="/<%=@commentable_type%>/<%=@commentable_id%>/comments" method="post" >
  <textarea id="comment-body" name="comment_body" rows="5" cols="50" placeholder="What's on your mind?"></textarea>
  <div>
    <input type="submit" value="Post Comment">
  </div>
</form>

