

<!-- do not route to this unless @current_user -->

<form class="comment_form" id="<%=@commentable.id%> action='/comments' method="post" >
  <input type="text" value="comment_body" placeholder="Comment as <%= @author.username %>">
  <button type="submit">Submit</button>
</form>

