<form class="comment_form" id="<%=comm" action='/comments' method="post" >
  <input type="text" value="comment_body" placeholder="Comment as <%= html_escaper(@author.username) %>">
  <button type="submit">Submit</button>
</form>

