body {
  counter-reset:section;
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  color: lightgray;
  max-width: 700px;
  margin: 0 auto;
}

p {
  color: black;
}

header {
  background-color: #A20021;
  width: 100%;
  color: white;
  padding: 5px 5px;
}

header h1 {
  font-size: 11pt;
  display: inline;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}

textarea {
  color: black;
}

input[type=submit] {
  color: black;
}

.show-question-container, .answer-container, .question-container{
  background-color: lightgray;
  color: black;
  padding: 10px;
}

.answer-container{
  background-color: lightblue;
}

.vote-form {
  float: left;
}

.upvote, .downvote {
  background-color: transparent;
}

.upvote {
  width: 0;
  height: 0;
  padding: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  border-top: 10px solid transparent;
}

.downvote {
  width: 0;
  height: 0;
  padding: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
}

