body {
  counter-reset:section;
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  color: lightgray;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  background-color: #A20021;
  width: 100%;
  height: 60px;
  color: white;
}

main {
  margin-top: 75px;
}

p {
  color: black;
}

h1 {
  text-align: center;
}

textarea {
  color: black;
}

input[type=submit] {
  color: black;
}

nav ul {
  list-style-type: none;
  padding: 5px;
  text-align: right;
}

#username {
  float: left;
  margin: auto 20px;
}

nav li {
  display: inline;
  margin: 10px 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: pink;
}

#main-postbar {
  max-width: 800px;
  margin: auto;
}

.votebar {
  width: 35px;
}

.votebar * {
  text-align: center;
}

.postbar {
  margin-left: 50px;
}

.post-container {
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  min-height: 100px;
}

.question-container{
  background-color: lightgray;
}

.answer-container{
  background-color: lightblue;
}

.comment-container{
  background-color: lightgreen;
  max-width: 750px;
  margin-left: 50px;
}

.answer-container{
  background-color: lightblue;
}

.vote-form {
  float: left;
}

.upvote, .downvote {
  background-color: transparent;
}

.upvote {
  width: 0;
  height: 0;
  padding: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  border-top: 10px solid transparent;
}

.downvote {
  width: 0;
  height: 0;
  padding: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
}

.vote-highlight {
  border-color: #A20021;
}

