<h2>Please log in</h2>

<form id="new_user" action="/users" method="post">
  <label for="email">Email:</label>
  <input type='email' name='user[email]'> <br/>
  <label for="password_hash">Password:</label>
  <input type='password' name='user[password]'> <br/>
  <input type='submit' value='submit'>
</form>
