<form id='new-answer-form' action="/questions/<%=@question.id%>/answers/" method="post">
  <textarea id="answer-body" name="answer[body]" placeholder="Your answer..." rows="5" cols="50"></textarea>
  <div>
    <input id='submit-new-answer' type="submit" value="Post">
  </div>
</form>
